.hide {
	height: 50px;

	@media (max-width:$tablet) {
		display: none;
	}
}

.main {
	margin-top: 130px;

	// .main__container
	&__container {}

	// .main__body
	&__body {}
}

.main__body {

	// .имя-блока__slider
	&__slider {}

	// .имя-блока__wrapper
	&__wrapper {}

	// .имя-блока__slide
	&__slide {}
}

.swiper {}

.swiper-wrapper {}

.swiper-slide {
	overflow: hidden;

	// .swiper-slide__body
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

.body-slide {
	background-color: #F5F5F5;
	padding-left: 71px;
	position: relative;
	height: 630px;

	@media (max-width:$mobile) {
		padding-left: 5px;
	}

	// .body-slide__content
	&__content {
		flex: 0 1 rem(410);

		@media (max-width:$tablet) {
			flex: 1 1 100%;
		}
	}

	// .body-slide__content-title
	&__content-title {
		font-weight: bold;
		@include adaptiveValue("font-size", 64, 36);
		line-height: math.div(87, 64);
		@include adaptiveValue("margin-bottom", 22, 15);
	}

	// .body-slide__content-subtitle
	&__content-subtitle {
		font-weight: 600;
		@include adaptiveValue("font-size", 24, 16);
		line-height: math.div(33, 24);
		padding-right: 15px;
		@include adaptiveValue("margin-bottom", 32, 35);
	}

	// .body-slide__content-button
	&__content-button {
		border: 1px solid #383838;
		box-sizing: border-box;
		border-radius: 8px;
		padding: 10px 53px;
	}

	// .body-slide__image
	&__image {
		flex: 0 1 auto;
		width: 660px;
		max-height: 550px;

		& img {
			width: 100%;
			max-height: 100%;
			object-fit: contain;
		}
	}

	&__sale {
		position: absolute;
		flex: 0 0 100%;
		bottom: -60px;
		left: 55%;
		width: rem(197);
		height: rem(197);
		background: #72BF44;
		border-radius: 50%;
		text-align: center;
		overflow: hidden;

		@media (max-width:$tablet) {
			bottom: -60px;
		}

		@media (max-width:$mobile) {
			left: 42%;
		}

		&-money {
			position: absolute;
			width: 100%;
			top: 20%;
			left: 0;
			font-size: 48px;
			color: #FFFFFF;
		}

		&-title {
			position: absolute;
			width: 100%;
			top: 45%;
			left: 0;
			font-size: 24px;
			color: #FFFFFF;
		}
	}
}

.swiper-button-prev,
.swiper-button-next {
	background-color: #fff;
	border-radius: 50%;
	font-size: 8px;
}

.swiper-button-next {}

// category ========================================================================================================================================================
.category {
	margin-top: 46px;

	// .category__container
	&__container {}

	// .category__body
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 0 -11px;

		@media (max-width:$mobile) {
			margin: 0;
		}
	}

	// .category__body-item
	&__body-item {
		background: #F5F5F5;
		border-radius: 8px;
		padding: 20px 15px;
		transition: box-shadow 0.3s ease 0s;
		width: rem(275);
		min-height: rem(236);
		overflow: hidden;
		margin: 0 11px rem(36) 11px;

		@media (max-width:$mobile) {
			flex: 1 1 100%;
			margin: 0 0 rem(30) 0;
		}

		&:hover {
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
	}
}

.item-body {
	position: relative;

	// .item-body__title
	&__title {
		font-weight: 600;
		@include adaptiveValue("font-size", 24, 20);
		margin-bottom: 7px;
	}

	// .item-body__number
	&__number {
		@include adaptiveValue("font-size", 16, 15);
		line-height: math.div(22, 16);
		color: #C4C4C4;
	}

	// .item-body__image
	&__image {
		position: absolute;
		max-width: rem(164);
		height: rem(164);
		bottom: 0;
		right: 0;

		@media (max-width:$mobile) {
			min-width: rem(77);
		}
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover {
			box-shadow: none;
		}
	}

	&__buttom {
		position: relative;
		border: 1px solid #72BF44;
		box-sizing: border-box;
		border-radius: 8px;
		font-size: 18px;
		color: #72BF44;
		padding: 12px 20px;
		transition: color 0.3s ease 0s;

		&:hover {
			color: #4EB610;
		}

		& span {
			display: inline-flex;
			margin-left: 3px;
			font-size: 16px;
		}
	}

}

//========================================================================================================================================================