.hide {
	height: 50px;

	@media (max-width:$tablet) {
		display: none;
	}
}

.main {
	margin-top: 130px;

	// .main__container
	&__container {}

	// .main__body
	&__body {}
}

.main__body {

	// .имя-блока__slider
	&__slider {}

	// .имя-блока__wrapper
	&__wrapper {}

	// .имя-блока__slide
	&__slide {}
}

.swiper {}

.swiper-wrapper {}

.swiper-slide {
	overflow: hidden;

	// .swiper-slide__body
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

.body-slide {
	background-color: #F5F5F5;
	padding-left: 71px;
	position: relative;
	height: 630px;

	@media (max-width:$mobile) {
		padding-left: 5px;
	}

	// .body-slide__content
	&__content {
		flex: 0 1 rem(410);

		@media (max-width:$tablet) {
			flex: 1 1 100%;
		}
	}

	// .body-slide__content-title
	&__content-title {
		font-weight: bold;
		@include adaptiveValue("font-size", 64, 36);
		line-height: math.div(87, 64);
		@include adaptiveValue("margin-bottom", 22, 15);
	}

	// .body-slide__content-subtitle
	&__content-subtitle {
		font-weight: 600;
		@include adaptiveValue("font-size", 24, 16);
		line-height: math.div(33, 24);
		padding-right: 15px;
		@include adaptiveValue("margin-bottom", 32, 35);
	}

	// .body-slide__content-button
	&__content-button {
		border: 1px solid #383838;
		box-sizing: border-box;
		border-radius: 8px;
		padding: 10px 53px;
	}

	// .body-slide__image
	&__image {
		flex: 0 1 auto;
		width: 660px;
		max-height: 550px;

		& img {
			width: 100%;
			max-height: 100%;
			object-fit: contain;
		}
	}

	&__sale {
		position: absolute;
		flex: 0 0 100%;
		bottom: -60px;
		left: 55%;
		width: rem(197);
		height: rem(197);
		background: #72BF44;
		border-radius: 50%;
		text-align: center;
		overflow: hidden;

		@media (max-width:$tablet) {
			bottom: -60px;
		}

		@media (max-width:$mobile) {
			left: 42%;
		}

		&-money {
			position: absolute;
			width: 100%;
			top: 20%;
			left: 0;
			font-size: 48px;
			color: #FFFFFF;
		}

		&-title {
			position: absolute;
			width: 100%;
			top: 45%;
			left: 0;
			font-size: 24px;
			color: #FFFFFF;
		}
	}
}

.swiper-button-prev,
.swiper-button-next {
	background-color: #fff;
	border-radius: 50%;
	font-size: 8px;
}

.swiper-button-next {}

// category ========================================================================================================================================================
.category {
	margin-top: 46px;

	// .category__container
	&__container {}

	// .category__body
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 0 -11px;

		@media (max-width:$mobile) {
			margin: 0;
		}
	}

	// .category__body-item
	&__body-item {
		background: #F5F5F5;
		border-radius: 8px;
		padding: 20px 15px;
		transition: box-shadow 0.3s ease 0s;
		width: rem(275);
		min-height: rem(236);
		overflow: hidden;
		margin: 0 11px rem(36) 11px;

		@media (max-width:$mobile) {
			flex: 1 1 100%;
			margin: 0 0 rem(30) 0;
		}

		&:hover {
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
	}
}

.item-body {
	position: relative;

	// .item-body__title
	&__title {
		font-weight: 600;
		@include adaptiveValue("font-size", 24, 20);
		margin-bottom: 7px;
	}

	// .item-body__number
	&__number {
		@include adaptiveValue("font-size", 16, 15);
		line-height: math.div(22, 16);
		color: #C4C4C4;
	}

	// .item-body__image
	&__image {
		position: absolute;
		max-width: rem(164);
		height: rem(164);
		bottom: 0;
		right: 0;

		@media (max-width:$mobile) {
			min-width: rem(77);
		}
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover {
			box-shadow: none;
		}
	}

	&__buttom {
		position: relative;
		border: 1px solid #72BF44;
		box-sizing: border-box;
		border-radius: 8px;
		font-size: 18px;
		color: #72BF44;
		padding: 12px 20px;
		transition: color 0.3s ease 0s;

		&:hover {
			color: #4EB610;
		}

		& span {
			display: inline-flex;
			margin-left: 3px;
			font-size: 16px;
		}
	}

}

// hit ========================================================================================================================================================

.hit {

	@include adaptiveValue("margin-top", 117, 72);
	@include adaptiveValue("margin-bottom", 107, 72);

	// .hit__container
	&__container {}

	// .hit__body
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include adaptiveValue("margin-bottom", 50, 30);

		&-arrows {
			display: flex;
			align-items: center;
		}
	}

	// .hit__body-title
	&__body-title {}

	// .hit__body-arrow
	&__body-arrow {}

	// .hit__slider
	&__slider {
		flex: 1 1 rem(378);
		height: rem(494);
	}

	// .hit__wrapper
	&__wrapper {}

	// .hit__slide
	&__slide {}
}

.hit__body-arrow-prev,
.hit__body-arrow-next {
	background: #F5F5F5;
	width: rem(45);
	height: rem(45);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: color 0.3s ease 0s;

	@media (max-width:$mobile) {
		width: rem(30);
		height: rem(30);
		font-size: 12px;
	}

	&:hover::before {
		color: $mainGreen
	}
}

.hit__body-arrow-next {
	transform: rotate(180deg);
	margin: 0px 0px 0px rem(26);

	@media (max-width:$mobile) {
		margin: 0px 0px 0px rem(18);
	}
}

.swiper-hit {
	overflow: hidden;
}

.swiper-wrapper {}

.swiper-slide {

	// .swiper-slide__card
	&__card {}
}

.card-slider {

	// .card-slider__content
	&__content {}

	// .card-slider__title

	&__title {
		@include adaptiveValue("margin-top", 25, 18);
		@include adaptiveValue("margin-bottom", 12, 8);
		font-weight: 600;
		font-size: 20px;
		line-height: math.div(27, 20);
	}

	// .card-slider__cost
	&__cost {
		display: flex;
		align-items: center;
	}

	// .card-slider__cost-prise
	&__cost-prise {
		font-size: 20px;
		line-height: math.div(27, 20);
		margin-right: 18px;
		font-weight: 600;
	}

	// .card-slider__cost-oldprise
	&__cost-oldprise {
		font-size: 18px;
		line-height: math.div(25, 18);
		text-decoration-line: line-through;
		color: #E0E0E0;
	}
}

.slider-card {
	position: relative;
	background: #F5F5F5;
	border-radius: 8px;
	padding: 12px 10px;
	height: rem(378);

	&__block {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	// .slider-card__label
	&__label {
		background: #72BF44;
		border-radius: 8px;
		padding: 7px 25px;
		font-weight: 600;
		font-size: 14px;
		color: #FFFFFF;
		display: inline-flex;
	}

	// .slider-card__action
	&__action {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		z-index: 5;

		& span {
			background-color: #fff;
			width: rem(40);
			height: rem(40);
			border-radius: 50%;
			margin-bottom: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0.3s ease 0s;
			cursor: pointer;

			&:hover {
				background-color: $mainGreen;
			}

			&::before {
				color: $mainGreen;
				font-size: rem(16);
				transition: all 0.3s ease 0s;

			}

			&:hover::before {
				color: #fff;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	// .slider-card__image
	&__image {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

// news ========================================================================================================================================================
.news {
	@include adaptiveValue("margin-top", 107, 80);
	@include adaptiveValue("margin-bottom", 67, 80);

	// .news__title
	&__title {
		@include adaptiveValue("margin-bottom", 50, 17);
	}

	// .news__body
	&__body {
		display: flex;
		align-items: center;
		margin: 0 -20px;

		@media (max-width: em(1478)) {
			flex-wrap: wrap;
		}
	}

	// .news__body-block
	&__body-block {
		max-width: rem(920);
		min-width: rem(700);
		background: #F7F7F7;
		border-radius: 8px;
		margin: 0 20px 0 20px;
		padding: 37px 47px;
		align-items: center;
		margin-bottom: rem(40);
		border: 1px solid red;

		@media (max-width: em(1478)) {
			max-width: none;
			min-width: none;
			width: 100%;
		}
	}
}

.block-news {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	min-height: rem(386);

	&__content {
		flex: 1 1 rem(385);
	}

	// .block-news__category
	&__category {
		font-weight: 600;
		@include adaptiveValue("font-size", 18, 16);
		line-height: math.div(25, 18);
		text-transform: uppercase;
		opacity: 0.7;
		@include adaptiveValue("margin-bottom", 26, 29);
	}

	// .block-news__title
	&__title {
		font-weight: bold;
		@include adaptiveValue("font-size", 48, 24);
		line-height: math.div(64, 48);
		@include adaptiveValue("margin-bottom", 48, 34);
	}

	// .block-news__buttom
	&__buttom {
		background-color: transparent;
		border-radius: 8px;
		padding: 13px 20px;
		font-weight: 600;
		color: #72BF44;
		display: block;
		display: inline-flex;
		position: relative;
		border: 1px solid #72BF44;
		transition: all 0.3s ease 0s;

		&:hover {
			background: #72BF44;
			color: #fff;
			border: 1px solid transparent;
		}

		& span {
			margin-left: 10px;
			transform: rotate(90deg);

			&::after {
				position: absolute;
				width: 100%;
				top: 50%;
				transform: translateY(-50%);

				right: 0;
				font-size: 10px;
			}
		}


	}

	// .block-news__image
	&__image {
		height: 300px;

		& img {
			width: 100%;
			height: 100%;
		}
	}
}