//========================================================================================================================================================
.header {

	// .header__top
	&__top {
		min-height: rem(46);
		background-color: $mainGreen;
	}

	// .header__body
	&__body {}

	// .header__container
	&__container {}

	// .header__down
	&__down {}

	// .header__body
	&__body {}

	// .header__menu
	&__menu {}
}

.top-header {
	display: flex;
	align-items: center;
	// .top-header__text

	&__text {
		display: inline-flex;
		align-items: center;
		font-weight: 600;
		@include adaptiveValue("font-size", 16, 12);
		line-height: math.div(22, 16);
		color: #FFFFFF;

		&::before {
			@include adaptiveValue("font-size", 24, 20);
			@include adaptiveValue("margin-right", 11, 8);
		}
	}
}

.down-header {
	@media (max-width:$tablet) {
		display: none;
	}

	&__container {
		display: flex;
		align-items: center;
		background-color: #F5F5F5;
		min-height: rem(40);
	}

	// .down-header__text
	&__text {
		flex: 1 1 auto;
	}

	// .down-header__action
	&__action {
		display: flex;
		align-items: center;
	}

	// .down-header__city
	&__city {
		display: inline-flex;
		align-items: center;
		font-size: 13px;
		line-height: math.div(18, 13);
		@include adaptiveValue("margin-right", 73, 25);

		&::before {
			font-size: rem(20);
			color: $mainGreen;
			margin-right: em(11, 20);
		}
	}

	// .down-header__email
	&__email {
		display: inline-flex;
		align-items: center;
		font-size: 13px;
		line-height: math.div(18, 13);

		&::before {
			font-size: rem(20);
			color: $mainGreen;
			margin-right: em(11, 20);
		}
	}
}

.body-header {
	padding: 31px 0;

	// .body-header__container
	&__container {
		display: flex;

		background-color: #fff;
	}

	// .body-header__logo
	&__logo {
		width: rem(125);
		height: rem(87);
	}

	// .body-header__catalog
	&__catalog {}

	.body-header {

		// .body-header__search
		&__search {}
	}

	.search-header {
		background-color: #F5F5F5;
		border-radius: 8px;
		position: relative;
		@include adaptiveValue("margin-left", 75, 20);


		// .search-header__button
		&__button {
			position: absolute;
			width: rem(58);
			height: rem(58);
			background-color: transparent;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			color: #D1D1D1;
			font-size: rem(20);
		}

		// .search-header__input
		&__input {
			width: rem(816);
			height: rem(58);
			border-radius: 8px;
			padding: 0px rem(55) 0px rem(10);
			background-color: transparent;

			&::placeholder {
				font-size: rem(15);
				line-height: math.div(20, 15);
				color: #D1D1D1;
			}
		}
	}
}

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/