//========================================================================================================================================================
.header {

	// .header__top
	&__top {
		min-height: rem(46);
		background-color: $mainGreen;
	}

	// .header__body
	&__body {}

	// .header__container
	&__container {}

	// .header__down
	&__down {}

	// .header__body
	&__body {}

	// .header__menu
	&__menu {}
}

.top-header {
	display: flex;
	align-items: center;
	// .top-header__text

	&__text {
		display: inline-flex;
		align-items: center;
		font-weight: 600;
		@include adaptiveValue("font-size", 16, 12);
		line-height: math.div(22, 16);
		color: #FFFFFF;

		&::before {
			@include adaptiveValue("font-size", 24, 20);
			@include adaptiveValue("margin-right", 11, 8);
		}
	}
}

.down-header {
	background-color: #F5F5F5;

	@media (max-width:$tablet) {
		display: none;
	}

	&__container {
		display: flex;
		align-items: center;

		min-height: rem(40);
	}

	// .down-header__text
	&__text {
		flex: 1 1 auto;
	}

	// .down-header__action
	&__action {
		display: flex;
		align-items: center;
	}

	// .down-header__city
	&__city {
		display: inline-flex;
		align-items: center;
		font-size: 13px;
		line-height: math.div(18, 13);
		@include adaptiveValue("margin-right", 73, 25);

		&::before {
			font-size: rem(20);
			color: $mainGreen;
			margin-right: em(11, 20);
		}
	}

	// .down-header__email
	&__email {
		display: inline-flex;
		align-items: center;
		font-size: 13px;
		line-height: math.div(18, 13);

		&::before {
			font-size: rem(20);
			color: $mainGreen;
			margin-right: em(11, 20);
		}
	}
}

.body-header {
	padding: 31px 0;

	// .body-header__container
	&__container {
		display: flex;
		align-items: center;
		background-color: #fff;
	}

	// .body-header__logo
	&__logo {
		width: rem(125);
		height: rem(87);
		@include adaptiveValue("margin-right", 87, 15);
	}

	.body-header {

		// .body-header__search
		&__search {
			flex: 1 1 auto;
			@include adaptiveValue("margin-left", 75, 20);
			@include adaptiveValue("margin-right", 102, 20);
		}

		&__actions {
			display: flex;
			align-items: center;
		}
	}

	.search-header {
		background-color: #F5F5F5;
		border-radius: 8px;
		position: relative;

		// .search-header__button
		&__button {
			position: absolute;
			width: rem(58);
			height: rem(58);
			background-color: transparent;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			color: #D1D1D1;
			font-size: rem(20);
		}

		// .search-header__input
		&__input {
			width: 100%;
			height: rem(58);
			border-radius: 8px;
			padding: 0px rem(55) 0px rem(24);
			background-color: transparent;

			&::placeholder {
				font-size: rem(15);
				line-height: math.div(20, 15);
				color: #D1D1D1;
			}
		}
	}

	.body-header {

		// .body-header__favorite
		&__favorite {
			font-size: rem(32);
			@include adaptiveValue("margin-right", 70, 15);
		}

		// .body-header__user
		&__user {
			font-size: rem(35);
		}
	}

	.actions-header {

		// .actions-header__cart
		&__cart {
			@include adaptiveValue("margin-right", 70, 15);
		}
	}

	.phones-header {
		@include adaptiveValue("margin-right", 89, 20);

		// .phones-header__item
		&__item {
			position: relative;
			display: flex;
		}

		// .phones-header__phone
		&__phone {
			font-weight: 600;
			@include adaptiveValue("font-size", 20, 16);
			line-height: math.div(27, 20);
			white-space: nowrap;
		}

		// .phones-header__arrow
		&__arrow {
			font-size: rem(10);
			margin: 0px 0px 0px rem(7.5);
			transition: transform 0.3s ease 0s;

			&._spoller-active {
				transform: rotate(-180deg);
			}
		}

		// .phones-header__list
		&__list {
			position: absolute;
			width: 100%;
			top: 100%;
			left: 0;
			margin: rem(5) 0px 0px 0px;
			background-color: #F5F5F5;
			padding: rem(15);
			border-radius: rem(10);

			li {
				&:not(:last-child) {
					margin-bottom: em(5, 18);
				}
			}
		}
	}

	.cart-header {
		display: flex;
		column-gap: 15px;

		// .cart-header__icon
		&__icon {
			position: relative;
			flex: 0 0 34px;
			font-size: rem(35);

			span {
				position: absolute;
				width: rem(20);
				height: rem(20);
				bottom: 0;
				left: 0;
				background-color: $mainGreen;
				color: #fff;
				font-size: rem(12);
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}

//Burger
/* .icon-menu {
	// display: none;

	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - rem(1));
		}

		.menu-open & {
			span {
				width: 0;
			}

			&::before,
			&::after {}

			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
} */

//========================================================================================================================================================
//========================================================================================================================================================
.body-header {

	&__menu {}

	&__list {
		& li {
			position: relative;
		}

		& button.body-header__link {
			background: #72BF44;
			border-radius: 8px;
			padding: 17px 35px;
			display: flex;
			align-items: center;
			font-weight: 600;
			font-size: 17px;
			color: #FFFFFF;

			&::before {
				display: inline-flex;
				color: #fff;
				font-size: 20px;
				margin-right: 5px;
			}
		}
	}

	&__sub-list {
		// display: none;
		position: absolute;
		top: 100%;
		left: -70px;
		padding-top: 27px;
		border-bottom: 1px solid #E0E0E0;

		@media (max-width:$mobile) {
			left: -100%;
		}

		&>li {
			background: #F5F5F5;
			border-left: 1px solid #E0E0E0;
			padding: 25px 34px;
			width: rem(372);
			transition: all 0.3s ease 0s;


			&:first-child {
				border-top: 1px solid #E0E0E0;
			}
		}
	}

	&__sub-link {
		font-weight: normal;
		font-size: 15px;
		line-height: math.div(20, 15);
		color: #383838;
		transition: color 0.3s ease 0s;
		display: flex;


		&::before {
			display: inline-flex;
			color: #383838;
			font-size: 21px;
			margin-right: 20px;
			width: 31px;
			transition: color 0.3s ease 0s;
		}

		&:hover::before {
			color: $mainGreen;
		}

		&:hover {
			color: $mainGreen;
		}
	}

	&__sub-sub-list {
		// display: none;
		position: absolute;
		background: #F5F5F5;
		top: -1px;
		left: 100%;
		padding: 60px 0 0 0;
		border-top: 1px solid #E0E0E0;
		border-bottom: 1px solid #E0E0E0;
		border-right: 1px solid #E0E0E0;
		display: flex;
		flex: 1 1 100%;

		&-2 {
			top: -72px;
		}

		&-3 {
			top: -143px;
		}

		&>li {
			display: flex;
			flex-wrap: wrap;
			font-weight: normal;
			font-size: 15px;
			transition: all 0.3s ease 0s;
		}
	}

	&__sub-sub-link {
		margin-bottom: 60px;
		margin-left: 60px;
		transition: all 0.3s ease 0s;
		text-align: center;

		&:hover {
			color: $mainGreen;
		}

		&::before {
			color: #383838;
			font-size: 40px;
			margin-bottom: 15px;
			transition: color 0.3s ease 0s;
		}

		&:hover::before {
			color: $mainGreen;
		}
	}
}

.body-header__list>li:hover .body-header__sub-list {
	display: block;
}

.body-header__sub-list>li:hover .body-header__sub-sub-list {
	display: block;
}

// body.touch .body-header__list.open {
// 	display: block;
// }

// body.touch .body-header__sub-list.open {
// 	display: block;
// }

// .arrow {
// 	display: none;
// 	position: absolute;
// 	right: 0;
// 	top: 12px;
// 	width: 0;
// 	height: 0;
// 	border-top: 10px solid #fff;
// 	border-right: 10px solid transparent;
// 	border-left: 10px solid transparent;
// }

// .arrow.active {
// 	transform: rotate(-180deg);
// }

// .sub-menu__arrow.arrow {
// 	right: 10px;
// 	border-left: 10px solid #000;
// 	border-right: none;
// 	border-top: 10px solid transparent;
// 	border-bottom: 10px solid transparent;
// }